* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  height: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 1rem;
}

html {
  height: auto;
  font-size: 10px;
  line-height: 10px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  background-image: url(/MyProject/img/bgmain.jpg);
  background-size: cover;
}
.wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
}
.wrapper .header .nav__logo {
  font-size: 3rem;
  color: #533738;
  padding-left: 5rem;
  line-height: 1.6rem;
}
.wrapper .header .nav__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .header .nav__nav-list .nav__nav-list-item {
  list-style-type: none;
}
.wrapper .header .nav__nav-list .nav__nav-list-item .nav__nav-list-link {
  font-size: 1.6rem;
  color: #533738;
  padding: 1.5rem 2rem;
}
.wrapper .header .nav__nav-list .nav__nav-list-item .nav__nav-list-link:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: #cc8b86;
  color: antiquewhite;
}
.wrapper .header .nav__info-link {
  color: #533738;
  font-size: 1.6rem;
  margin-right: 15rem;
  padding: 1.5rem 2rem;
}
.wrapper .header .nav__info-link:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background-color: #cc8b86;
  color: antiquewhite;
}
.wrapper .main__container {
  margin: 12rem 0 0 20rem;
  max-width: 50rem;
  padding-bottom: 10rem;
}
.wrapper .main__container .main__container-title {
  font-size: 5rem;
  color: #533738;
  line-height: 62px;
}
.wrapper .main__container .main__container-description {
  line-height: 30px;
  font-size: 1.8rem;
  color: #533738;
  margin-top: 2rem;
}
.wrapper .main__container .main__container-link {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 6.5rem;
  background-color: #cc8b86;
  margin-top: 3rem;
  cursor: pointer;
}
.wrapper .main__container .main__container-link .main__container-link-link {
  color: #533738;
}
.wrapper .main__container .main__container-link .main__container-link-link:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  color: antiquewhite;
}

.section__about {
  background-color: #e5e5e5;
}
.section__about .section__about-container .section__about-container-title {
  font-size: 4rem;
  line-height: 5rem;
  color: #533738;
  text-align: center;
  padding-top: 6rem;
  margin-bottom: 5rem;
}
.section__about .section__about-container .section__about-container-img {
  float: left;
  margin-left: 15rem;
}
.section__about .section__about-container .section__about-container-img .section__about-container-img-img {
  width: 40rem;
  margin-right: 6rem;
}
.section__about .section__about-container .section__about-container-description {
  font-size: 1.8rem;
  color: #533738;
  line-height: 3ren;
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.section__experience {
  background-color: #8d7370;
}
.section__experience span {
  display: block;
  line-height: 6rem;
}
.section__experience .section__experience-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5rem;
  text-align: center;
}
.section__experience .section__experience-container .number {
  font-size: 5rem;
  color: #fff;
}
.section__experience .section__experience-container .section__experience-container-years {
  color: #fff;
  font-size: 4rem;
  line-height: 3.2rem;
}
.section__experience .section__experience-container .section__experience-container-project {
  color: #fff;
  font-size: 4rem;
  line-height: 3.2rem;
}
.section__experience .section__experience-container .section__experience-container-reward {
  color: #fff;
  font-size: 4rem;
  line-height: 3.2rem;
}

.section__ourwork {
  background-color: #e5e5e5;
}
.section__ourwork .section__ourwork-container .section__ourwork-container-img {
  margin: 1rem;
}
.section__ourwork .section__ourwork-container .section__ourwork-container-img1 {
  opacity: 0.3;
  margin: 1rem;
}
.section__ourwork .section__ourwork-container .section__ourwork-container-title {
  font-size: 4rem;
  margin-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #533738;
}
.section__ourwork .section__ourwork-container .section__ourwork-container-description {
  display: inline-block;
  position: relative;
}
.section__ourwork .section__ourwork-container .section__ourwork-container-description .section__ourwork-container-description-title {
  color: #533738;
  font-size: 3rem;
  max-width: 25rem;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 25%;
}
.section__ourwork .section__ourwork-container .section__ourwork-container-description .section__ourwork-container-description-description {
  position: absolute;
  color: #533738;
  font-size: 1.8rem;
  max-width: 30rem;
  text-align: center;
  top: 30%;
  left: 20%;
}
.section__ourwork .section__ourwork-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__ourwork .section__ourwork-more .section__ourwork-more-link {
  color: #533738;
}
.section__ourwork .section__ourwork-more .section__ourwork-more-arrow {
  margin-left: 1rem;
  padding-bottom: 3rem;
}

.section__team {
  background-color: #e2c4ba;
}
.section__team h3 {
  font-size: 5rem;
  font-weight: 200;
  color: #533738;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.section__team .section__team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__team .section__team-container p {
  color: #533738;
  font-size: 1.8rem;
  max-width: 32rem;
  margin: 0 2rem 0 0;
}
.section__team .container__team-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  color: #533738;
}
.section__team .container__team-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section__team .container__team-work-description {
  font-size: 1.8rem;
  color: #533738;
  text-align: center;
  min-width: 15rem;
  margin-left: 4rem;
  margin-bottom: 8rem;
}
.section__team .container__team-work-description:first-child {
  margin-left: 5rem;
}
.section__team .container__team-work-description:last-child {
  margin-right: 5rem;
}
.section__team .container__team-work-description .container__team-number {
  display: block;
  text-align: center;
  line-height: 3rem;
  font-size: 4rem;
  color: #fff;
  background-image: url(/MyProject/img/circle.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 2rem 0 2rem 0;
  margin-bottom: 4rem;
}

.section__reviews {
  background-color: #e5e5e5;
}
.section__reviews .section__reviews-container .section__reviews-container-title {
  font-size: 4rem;
  color: #533738;
  text-align: center;
  padding-top: 6rem;
}
.section__reviews .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__reviews .slider__item .slider__item-slide {
  margin: auto 15%;
  color: #533738;
  font-size: 2.2rem;
  max-width: 40rem;
}
.section__reviews .slider__item .slider__item-img-img {
  margin: 4rem 15% 6rem auto;
}
.section__reviews .slider__item .slider__item-img-img .slider__item-img {
  margin-top: 2rem;
}

.section__application {
  background-color: #8d7370;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__application .section__application-container {
  padding-top: 5rem;
  margin: 0 auto;
}
.section__application .section__application-container .section__application-container-title {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 3rem;
}
.section__application .section__application-container .section__application-container-description {
  font-size: 1.8rem;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 6rem;
}
.section__application .section__application-container input {
  height: 4rem;
  width: 50rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.section__application .section__application-container input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.section__application .section__application-container input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
.section__application .section__application-container input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.section__application .section__application-container input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.section__application .section__application-container input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.section__application .section__application-container .section__application-container-input-text {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: #fff;
  border-bottom: 1px solid #fff;
}
.section__application .section__application-container .section__application-container-input-email {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.section__application .section__application-container .btn {
  padding: 1rem 6rem;
  border: none;
  background-color: #cc8b86;
  color: #fff;
  font-size: 2rem;
  opacity: 0.7;
  cursor: pointer;
}
.section__application .section__application-container .btn:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding: 2rem 10rem;
}
.section__application .section__application-maps {
  margin-left: 2rem;
}