* {
	box-sizing: border-box;
	outline: none;
}
.container {
	margin-left: 36%;
	margin-top: 10%;
}

.container__img {
	margin-left: 17%;
	margin-bottom: 20px;
}

.container__form form {
	width: auto;
	margin-right: 30px;
}
input {
	width: 250px;
	height: 50px;
	padding-left: 15px;
	border-radius: 42px;
	border: 1px solid red;
	width: 700px;
}
#btn {
	display: inline-block;
	position: relative;
	height: 50px;
	width: 70px;
	top: 20px;
	background-color: green;
}
